.container-form {
    background-color: #ffffff;
    position: relative;
    padding: 100px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-form input {
    display: block;
}

.fields {
    width: 100%;
    background-color: #F8F8F8;
    border-width: 0px 0px 0px 0px;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid var(--color-magenta);
    padding: 10px var(--form-padding);
}


.btn2 {
    display: block;
    position: absolute;
    right: 100px;
    bottom: 0;
    background-color: #f88ea9;
    margin-top: 30px;
    padding: 15px 25px;
    border: 3px solid var(--color-magenta);
}


.btn2:hover {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    cursor: pointer;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    cursor: pointer;
    transition-property: background-color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
}


input:focus {
    background-color: rgb(253, 215, 233);
    border: 1px solid var(--color-magenta);
}